<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="IoNAS Target Platform Luna" sequenceNumber="1411633805">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
      <unit id="org.eclipse.core.resources" version="3.9.0.v20140514-1307"/>
      <unit id="org.eclipse.ui" version="3.106.0.v20140519-0906"/>
      <unit id="org.eclipse.ui.editors" version="3.8.200.v20140401-1310"/>
      <unit id="org.eclipse.ui.ide" version="3.10.0.v20140521-1937"/>
      <unit id="org.eclipse.ui.ide.application" version="1.0.500.v20140514-2033"/>
      <unit id="org.eclipse.jface" version="3.10.0.v20140604-0740"/>
      <unit id="org.eclipse.jface.text" version="3.9.0.v20140521-1657"/>
      <unit id="org.eclipse.compare" version="3.5.500.v20131106-1552"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.6.0.v201405210727"/>
      <unit id="org.eclipse.xpand.feature.group" version="2.0.0.v201406030414"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.6.0.v201405210727"/>
      <unit id="org.eclipse.emf.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.transaction" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.mwe.core.feature.group" version="1.3.2.v201405200714"/>
      <unit id="org.eclipse.emf.mwe.utils" version="1.3.2.v201405200714"/>
      <unit id="org.eclipse.emf.mwe2.language" version="2.6.0.v201405200939"/>
      <unit id="org.eclipse.emf.mwe2.launch" version="2.6.0.v201405200939"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="2.6.0.v201405200714"/>
      <unit id="org.eclipse.emf.mwe2.runtime" version="2.6.0.v201405200714"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.0.0.201406111328"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140606-1445"/>
      <repository location="http://download.eclipse.org/releases/luna"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.artop.core.autosar411.sdk.feature.group" version="4.2.1.201406040805"/>
      <unit id="org.artop.core.workspace.feature.group" version="4.2.1.201406040805"/>
      <unit id="org.artop.examples.feature.group" version="4.2.1.201406040805"/>
      <repository location="https://www.artop.org/containers/artop-sdk-update-site-4.2/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sphinx.feature.group" version="0.8.1.201409171422"/>
      <unit id="org.eclipse.sphinx.emf.metamodelgen.feature.group" version="0.8.1.201409171422"/>
      <repository location="http://download.eclipse.org/sphinx/updates/releases/0.8.x"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.inject" version="3.0.0.v201312141243"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
      <unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.franca.core.feature.group" version="0.9.0.201405120913"/>
      <unit id="org.franca.ui.feature.group" version="0.9.0.201405120913"/>
      <repository location="http://franca.eclipselabs.org.codespot.com/git/update_site/releases/0.9.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.2.1.201402241301"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/2.2.1/"/>
    </location>
  </locations>
</target>
